<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>ClassyKart</title>
    <script src="/js/jquery.min.js"></script> <!-- Include jQuery if it's not already included -->
    <script src="/js/submit-email.js"></script> <!-- Include your custom JS file -->
</head>
<body>
<section>

    <div class="container mt-5 p-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img alt="" src="img/ecom.png" width="100%" height="400px">
            </div>
            <div class="col-md-6 mt-3">
                <div class="card shadow-lg p-4 mb-5 bg-body rounded">
                    <div class="card-header bg-primary text-white text-center">
                        <h4>Password Assistance</h4>
                    </div>
                    <div class="card-body">
                        <p class="text-center">Enter the email address associated with your ClassyKart account</p>
                        <div class="mb-3">
                            <form action="#" th:action="@{/submit-email}" method="post">
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
                                </div>
                                <button type="submit" class="btn btn-primary col-12">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>